.signup-container {
    margin: 40px 0 40px 0;
    background-color: #f0f1f2;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 64px 24px 56px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px 5px rgba(60, 64, 67, 0.15), 0 1px 2px 0 rgba(60, 64, 67, 0.3);
}

.ant-input {
    border: 0;
    line-height: 3rem;
    max-width: 100%;
    outline: none;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

.input-hidden {
    display: none;
}

#div-position-school {
    padding-left: 30px;
}

#spanOu {
    margin-right: 10px;
    margin-left: 15px;
    font-weight: bolder;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #FCB424 !important;
    font-weight: bolder;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: #FCAC1C !important;
}

.ant-tabs-ink-bar {
    height: 3px;
    background-color: #ffaf18;
}

.btnCustom {
    background-color: #FCAC1C !important;
    border-color: #FCAC1C !important;
}

.ant-radio-button-wrapper-checked {
    background: #fff;
    border-color: #ffaf18 !important;
    color: #ffaf18;
    font-weight: bolder;
    -webkit-box-shadow: -1px 0 0 0 #ffaf18;
    box-shadow: -1px 0 0 0 #ffaf18 !important;
}

.ant-radio-button-wrapper-checked:hover {
    color: #ffaf18;
}

.ant-radio-button-wrapper-checked::before {
    background-color: #ffaf18 !important;
    opacity: 0.1;
}

.ant-radio-button-wrapper-checked::after {
    background-color: #ffaf18 !important;
    opacity: 0.1;
}

.ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
    color: #ffaf18;
    position: relative;
}